<div class="container">
  <div class="airbnbFilterDiv">
    <div
      class="airbnb"
      *ngFor="let cat of categories"
      (click)="onSelect(cat.name)"
      [class.selected]="selectedCategory === cat.name"
    >
      <img [src]="cat.icon" [alt]="cat.name" class="airbnbImg" />
      <p class="gray">{{ cat.name }}</p>
    </div>
  </div>
  <!-- FILTERS -->
  <div class="filterDetail">
    <img src="/assets/filtro.png" alt="filter" class="filterImg" />
    <p class="black">Filtros</p>
  </div>
</div>
