<app-header></app-header>
<div class="container">
    <div class="cardDiv">
        <div *ngFor="let reserva of reservas" class="card">
            <div class="imgDiv">
                <img *ngIf="reserva.image" [src]="reserva.image" alt="Imagem da reserva" class="cardImg" />
            </div>
            <div class="cardDesc">
                <p>{{reserva.where}}</p>
                <p>{{reserva.category}}</p>
                <p>1.817km de distância</p>
                <p>12 - 17 de nov.</p>
                <p>R$ {{reserva.price}} noite</p>
            </div>
            <button (click)="deleteReserva(reserva.id)">Deletar</button>
            <button [routerLink]="['/reservas/view/', reserva.id]">Ver Detalhes</button>
        </div>
    </div>
</div>

<app-footer></app-footer>