<app-header></app-header>
<div class="container">
  <div class="cardDiv">
    <div *ngFor="let reserva of reservas">
      <div class="imgDiv">
        <img *ngIf="reserva.image" [src]="reserva.image" class="imgCard" />
      </div>
      <!-- === -->
      <div class="cardDesc">
        <p>{{ reserva.where }}, {{ reserva.country }}</p>
        <p>{{ reserva.category }}</p>
        <p>1.817km de distância</p>
        <p>12 - 17 de nov.</p>
        <p>
          {{ reserva.price | currency : "BRL" : "symbol" : "1.2-2" : "pt-BR" }}
        </p>
      </div>
      <button (click)="deleteReserva(reserva.id)">Deletar</button>
      <button [routerLink]="['/reservas/view/', reserva.id]">
        Ver detalhes
      </button>
    </div>
  </div>
</div>

<app-footer></app-footer>
