<app-header></app-header>
<div class="container">
  <p>FILTER</p>
  <select
    id="category"
    [(ngModel)]="selectedCategory"
    (change)="onCategoryChange()"
  >
    <option value="Cabana">Cabana</option>
    <option value="Em frente à praia">Em frente à praia</option>
    <option value="Ilhas">Ilhas</option>
    <option value="Mansões">Mansões</option>
    <option value="Piscinas">Piscinas</option>
    <option value="Casa na árvore">Casa na árvore</option>
  </select>
  <button (click)="getAllFunc()">GetAll</button>

  <div class="cardDiv">
    <div *ngFor="let reserva of reservas">
      <h3>{{ reserva.title }}</h3>
      <p>{{ reserva.where }} - R$ {{ reserva.price }}</p>
      <img *ngIf="reserva.image" [src]="reserva.image" width="200" />

      <!-- Mostrando os features -->
      <ul *ngIf="reserva.features && reserva.features.length > 0">
        <li *ngFor="let feature of reserva.features">
          <img
            [src]="'/assets/features/' + feature.image"
            alt="{{ feature.name }}"
            width="32"
          />
          {{ feature.name }}
        </li>
      </ul>

      <button (click)="deleteReserva(reserva.id)">Deletar</button>
    </div>
  </div>
</div>

<app-footer></app-footer>
