* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}


.black {
    color: #000;
}

.gray {
    color: #797979;
}

.bold {
    font-weight: bold;
}

.pTaller {
    font-size: 20px;
}

.middle {
    align-items: center;
    text-align: center;
}