<div class="container">
    <hr>
    <div class="allInfo">
        <div class="info">
            <p class="black">Atendimento</p>
            <p class="gray">Central de Ajuda</p>
            <p class="gray">AirCover</p>
            <p class="gray">Antidiscriminação</p>
            <p class="gray">Apoio à pessoa com deficiência</p>
            <p class="gray">Opções de cancelamento</p>
            <p class="gray">Reporte um problema no bairro</p>
        </div>
        <!-- === -->
        <div class="info">
            <p class="black">Hospedagem</p>
            <p class="gray">Anuncie seu espaço no Airbnb</p>
            <p class="gray">AirCover para anfitriões</p>
            <p class="gray">Recursos para anfitriões</p>
            <p class="gray">Fórum da comunidade</p>
            <p class="gray">Hospedagem responsável</p>
            <p class="gray">Participe de uma aula gratuita de hospedagem</p>
            <p class="gray">Encontre um coanfitrião</p>
        </div>
        <!-- === -->
        <div class="info">
            <p class="black">Airbnb</p>
            <p class="gray">Newsroom</p>
            <p class="gray">Novos recursos</p>
            <p class="gray">Carreiras</p>
            <p class="gray">Investidores</p>
            <p class="gray">Locais emergenciais Airbnb.org</p>
        </div>
    </div>
    <!-- === -->
    <hr>
    <div class="copyright">
        <div class="left">
            <p class="gray">© 2024 Airbnb, Inc.</p>
            <p class="gray">Privacidade,</p>
            <p class="gray">Termos,</p>
            <p class="gray">Mapa do site,</p>
            <p class="gray">Informações da empresa,</p>
        </div>
        <!-- == -->
        <div class="right">
            <div class="ptDiv">
                <img src="assets/world-financial.png" alt="world" class="icon">
                <p class="black">Português(BR)</p>
            </div>
            <!-- = -->
            <p class="black borderBottom">R$ BRL</p>
            <div class="socialDiv">
                <img src="assets/facebook.png" alt="facebook" class="icon">
                <img src="assets/twitter.png" alt="x" class="icon">
                <img src="assets/instagram.png" alt="instagram" class="icon">
            </div>
        </div>
    </div>
</div>