<div class="container">
  <div class="mainView" *ngIf="reserva">
    <div class="titleDiv">
      <h2>{{ reserva.title }}</h2>
      <div class="titleLast">
        <p>Compartilhar</p>
        <p>Salvar</p>
      </div>
    </div>
    <!-- MAIN IMG -->
    <div class="imgDiv">
      <img
        *ngIf="reserva.image"
        [src]="reserva.image"
        alt="Imagem da reserva"
        class="mainImg"
      />
    </div>
    <!-- LEFT & RIGHT -->
    <div class="leftRightDiv">
      <div class="left">
        <div class="leftTitleDiv">
          <h4>Quarto privativo em pousada em Cumbuco, Brasil</h4>
          <p>2 hóspedes, 1 quarto, 1 cama, 1 banheiro privado</p>
        </div>
        <hr />
        <!-- ANFITRIÃO -->
        <div class="host">
          <img src="/assets/do-utilizador.png" alt="hostImg" class="hostImg" />
          <div class="hostDesc">
            <p class="black">Anfitriã(o): Arthur</p>
            <p class="gray">Superhost, 13 anos hospedando</p>
          </div>
        </div>
        <hr />
        <!-- DETALHES -->
        <div
          class="airbnbDetailsDiv"
          *ngIf="reserva.features && reserva.features.length > 0"
        >
          <h3>O que esse lugar oferece</h3>
          <div class="details" *ngFor="let feature of reserva.features">
            <img [src]="'/assets/features/' + feature.image" alt="{{feature.name}}" class="detailImg" />
            <p>{{feature.name}}</p>
          </div>
        </div>
        <div class="btnComo">Mostrar todas as comodidades</div>
        <hr />
      </div>
      <!-- RIGHT DIV -->
      <div class="right">
        <div class="infoDiv">
          <p class="gray">
            <span class="black bold pTaller">R${{ reserva.price }}</span> noite
          </p>
          <!-- CHECK IN/OUT DIV -->
          <div class="checkDiv">
            <div class="top">
              <div class="check">
                <p>CHECK-IN</p>
                <p>15/10/2024</p>
              </div>
              <div class="check">
                <p>CHECKOUT</p>
                <p>20/10/2024</p>
              </div>
            </div>
            <div class="bottom">
              <div class="check">
                <p>HOSPEDES</p>
                <p>2 hóspede</p>
              </div>
            </div>
          </div>
          <!-- === -->
          <button class="btn">Reservar</button>
          <p class="middle">Você ainda não será cobrado</p>
          <div class="total">
            <p class="gray">R${{ reserva.price }} x 5 noites</p>
            <p class="black">R$ {{ reserva.price * 5 }}</p>
          </div>
          <hr />
          <div class="total">
            <p class="black bold">Total sem impostos</p>
            <p class="black">R$ {{ reserva.price }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
